    <!-- Create Course Step List Start -->
    <ul class="step-list mb-24">
        <li class="step-list__item py-15 px-24 text-15 text-heading fw-medium flex-center gap-6 @@firstDone @@firstActive">
            <span class="icon text-xl d-flex"><i class="ph ph-circle"></i></span> 
            Course Details
            <span class="line position-relative"></span>
        </li>
        <li class="step-list__item py-15 px-24 text-15 text-heading fw-medium flex-center gap-6 @@secondDone @@secondActive">
            <span class="icon text-xl d-flex"><i class="ph ph-circle"></i></span> 
            Upload Videos
            <span class="line position-relative"></span>
        </li>
        <li class="step-list__item py-15 px-24 text-15 text-heading fw-medium flex-center gap-6 @@thirdDone @@thirdActive">
            <span class="icon text-xl d-flex"><i class="ph ph-circle"></i></span> 
            About Course
            <span class="line position-relative"></span>
        </li>
        <li class="step-list__item py-15 px-24 text-15 text-heading fw-medium flex-center gap-6 @@fourthDone @@fourthActive">
            <span class="icon text-xl d-flex"><i class="ph ph-circle"></i></span> 
            Create Quiz
            <span class="line position-relative"></span>
        </li>
        <li class="step-list__item py-15 px-24 text-15 text-heading fw-medium flex-center gap-6 @@fifthDone @@fifthActive">
            <span class="icon text-xl d-flex"><i class="ph ph-circle"></i></span> 
            Publish Course
            <span class="line position-relative"></span>
        </li>
    </ul>
    <!-- Create Course Step List End -->